@import "tailwindcss";

.pixelify-sans{
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

.header{
    background-image: url("../assets/bg.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
